@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300|Lato:200,300);

* { -moz-box-sizing: border-box; box-sizing: border-box; }
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, button { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
article, aside, footer, header, nav, section { display: block; }
ol, ul { list-style: none; }
a { color: #fff; }
:focus { outline: 0; }
button { background-color: transparent; color: inherit; cursor: pointer; display: inline-block; font-family: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; position: relative; text-align: center; text-transform: inherit; vertical-align: middle; white-space: nowrap; }
img { display: block; max-width: 100%; }
html, body { height: 100%; }

body {
    background: #000;
    font: 20px 'Lato', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

button {
    line-height: 1;
    border: 1px solid #fff;
    padding: 1em 1.5em;
    background: rgba(184, 103, 146, .6);
    letter-spacing: .1em;
    -webkit-transition: 250ms;
    transition: 250ms;
}
button:hover {
    background: rgba(222, 103, 159, .8);
}

h1 {
    font: 300 3em 'Source Code Pro';
    margin: .15em 0 .2em;
    letter-spacing: .2em;
    text-shadow: 0 0 1em rgba(0, 0, 0, .85);
}

h3 {
    font-weight: 100;
    overflow: hidden;
    position: relative;
    letter-spacing: .02em;
    text-shadow: 0 0 1em rgba(0, 0, 0, .85);
}
h3:before,
h3:after {
    display: block;
    content: '';
    position: absolute;
    height: 1px;
    top: 50%;
    width: 25%;
    background: #fff;
}
h3:before { left: 0; }
h3:after { right: 0; }

h3.hr { margin: 60px 160px; color: #aaa; font: 300 2em 'Source Code Pro'; }

#start {
    background: linear-gradient(to bottom, rgba(255,255,255,.1) 0%, rgba(0,0,0,.85) 100%), url(../svg/background.svg) top center;
    background-size: cover;
    height: calc(100% - 1.9em);
    -webkit-transition: 500ms height, 750ms opacity;
    transition: 500ms height, 750ms opacity;
    overflow: hidden;
}
.level-open #start {
    position: relative;
    height: 0;
    opacity: 0;
}
#start .content {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#about {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0; bottom: 0;
    left: -20px; right: -20px;
    padding: 0 36px; /* 20px + 1em */
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0,0,0,.65) 0%, rgba(0,0,0,.85) 100%), url(../svg/about.svg) top center;
    background-size: cover;
    height: calc(100% - 1.9em);
    -webkit-transition: 500ms height, 750ms opacity;
    transition: 500ms height, 750ms opacity;
    overflow-y: auto;
}
.level-open #about {
    height: 100%;
}
#about.open {
    opacity: 1;
}
#about .content {
    max-width: 660px;
    margin: 40px auto;
    text-align: center;
}
#about .close {
    position: fixed;
    top: 2em; left: 2em;
}
#about p {
    text-transform: none;
    font-size: 1em;
    line-height: 1.4;
    margin-top: 1em;
}
#about .photo {
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
}

#final {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: 400ms;
    transition: 400ms;
    text-align: center;
}
#final.open {
    opacity: 1;
    max-height: 100em;
}

#final svg {
    opacity: .45;
    position: absolute;
    top: 0; left: 0;
}

#final path {
    -webkit-animation: 50s 1.5s final infinite ease-in-out;
    -webkit-transform-origin: center;
    animation: 50s 1.5s final infinite ease-in-out;
    transform-origin: center;
}
@-webkit-keyframes final {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes final {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#final .content {
    position: relative;
    max-width: 660px;
    margin: 40px auto;
}
#final h1 {
    letter-spacing: 0;
    margin-bottom: 0;
}
#final h2 {
    margin-bottom: 3em;
}
.wallpapers {
    margin-top: 4em;
}
.wallpapers img {
    display: inline-block;
    width: 32%;
    float: left;
    margin-bottom: 1em;
    margin-top: 1em;
}
.wallpapers a + a img {
    margin-left: 2%;
}
.wallpapers:after {
    content: "";
    display: table;
    clear: both;
}
#final p {
    margin-top: 1em;
    text-transform: none;
    font-size: .85em;
    font-style: italic;
}

footer {
    opacity: .5;
    background: rgba(0, 0, 0, .85);
    font-size: .85em;
    padding: .5em 1em;
    color: #aaa;
    text-align: center;
}
.level-open footer {
    background: #000;
    opacity: 1;
    position: relative;
    z-index: 2;
}

.level-open footer div {
    -webkit-transform: 400ms;
    transform: 400ms;
    opacity: 0;
    padding-bottom: 1em;
    margin-top: -38px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.level-open footer:hover div {
    opacity: 1;
    margin-top: 0;
}

footer h1 { display: none; color: #fff; }
.level-open footer h1 { display: block; }

footer, footer * {
    -webkit-transition: 250ms;
    transition: 250ms;
}

footer:hover {
    opacity: 1;
}

footer a {
    display: inline-block;
    color: #aaa;
    margin-left: -4px;
    padding: 0 .25em;
    text-decoration: none;
}

footer a:hover {
    color: #eee;
}

.altj:before {
    content: '∆';
    display: inline-block;
    padding: 0 .5em 0 .25em;
    font-size: .65em;
    vertical-align: 20%;
}

.notice {
    display: block;
    position: absolute;
    left: 0; right: 0;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 1em 0;
    text-align: center;
    z-index: 1;
    -webkit-animation: 400ms 1.5s slide-up forwards;
    animation: 400ms 1.5s slide-up forwards;
}
@-webkit-keyframes slide-up { 100% { -webkit-transform: translateY(-100%); opacity: .4; } }
@keyframes slide-up { 100% { transform: translateY(-100%); opacity: .4; } }

#level img {
    cursor: pointer;
}
#level svg path {
    opacity: .95;
    cursor: pointer;
}
#level svg path:hover {
    opacity: 1;
}
#level svg path[data-highlight] {
    stroke: #10be20;
    stroke-width: 3;
    opacity: 1;
}
